*{
    margin: 0;
}

.container{
    padding: 40px 0px 40px 0px;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 100%;
    align-items: center;
    display: inline-flex;
    gap: 20px;
    background-color: gray;
    justify-content: space-evenly;
}

img{
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.card1{
    text-align: center;
    height: 90%;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    width: 25%;
    background-color: white;
}

.card2{
    text-align: center;
    height: 90%;
    border-radius: 20px;
    align-content: center;
    justify-content: center;
    width: 25%;
    background-color: white;
}

.card3{
    text-align: center;
    height: 90%;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    width: 25%;;
    background-color: white;
}

.text{
    line-height: 15px;
    font-size: 20px;
    color: white;
    border-radius: 0px 0px 20px 20px;
    background-color: brown;
    height: 40px;
    width: 100%;
    gap: 30px;
    justify-content: space-evenly;
    display: inline-flex;
    align-items: center;
}

span{
    font-size: 10px;
}

